# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project
.history

TIMS\.metadata*
*.metadata

.DS_Store

.cfx
.cfs
.cache
.gen

/segments…..